.navbar-brand {
    font-family: 'Shojumaru', cursive, Arial, serif;
    letter-spacing: 2px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    width: 183px;
    font-size: 17px;
}

.navbar-brand img {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.navbar-brand span {
    float: left;
}

.navbar-search {
    margin-left: 10px;
    margin-top: 7px;
}

.navbar-inner {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 30px;
    height: 60px;
}

.navbar-inner .btn-group {
    margin: 7px 5px 0 5px;
}

.pull-right {
    float: right !important;
}

.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
}

.sidebar-nav > ul > li:not(.nav-header) {
    margin-right: -2px;
    margin-left: -2px;
}

.nav-sm {
    display: none;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
}

/* Computer */
@media only screen and (min-width: 980px) {
    a, button, input[type=submit], input[type=button], .product-img {
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .ch-container {
        padding: 0 20px;
    }
}

.main-menu > li {
    margin-top: 0 !important;
}

.center-block {
    text-align: center;
}

.box {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
.box-content {
    padding: 10px;
}

.box-header h2 {
    font-size: 15px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);
}

.additional_menu {
    padding: 0 15px 0 15px;
}

.box-icon {
    float: right;
}

.box-icon a {
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}

.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}

.box-icon a i {
    margin-left: -6px;
    top: -1px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}